<%- include('header') -%>
<div class="row">
    <div class="col s12 m7">
        <div class="card">
        <div class="card-image">
            <img src="<%= person.img %>">
            <span class="card-title"><%= person.stage %></span>
        </div>
        <div class="card-content">
            <h4><%= person.name %></h4>
        </div>
        <!-- <div class="card-action">
            <a href="#">This is a link</a>
        </div> -->
        </div>
    </div>
</div>
<%- include('footer') -%>